@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------ MAIN SECTIONS SETUP ----------- */

html {
  font-size: 62.5%;
  font-family: "Roboto";
} 

.container{
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(2, 52, 75, 0.815);
  max-width: 100%; 
  min-height: 6rem;
  display: flex;
  justify-content: space-around; 
  align-items: center;
 
}

.body{
  width: 100%;
  height: 94vh;  
  background-color: rgb(241, 241, 241); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; 
}

/*------------ HEADER ----------- */

.btn-visualize {
  padding: 1.3rem 2rem;  
  border-radius: 0.3rem;
  border: none;  
  background-color: rgb(69, 207, 161); 
  color: white;
  font-size: 1.5rem; 
  transition: all 0.3s;
}

.btn-visualize:focus {
  outline: none; 
}
.btn-visualize:hover {
  background-color: rgb(81, 236, 184); 
}
.btn-visualize:active {
  background-color: rgb(45, 165, 125); 
}

.logo {
font-size: 3rem;
color: white;
}


/*------------ GRAPH ----------- */

.graph-container {
  position: relative;
}

.node {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  border: 1px solid black; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; 
}

.node-1 {
  transform: translate(30rem);
}
.node-2 {
  transform: translateX(-30rem);
}
.node-3 {
  transform: translateY(35rem);
}
.node-4 {
  transform: translate(-10rem, 15rem); 
}
.node-5 {
  transform: translate(10rem, 15rem); 
}
.node-6 {
  transform: translate(-10rem, -15rem); 
}
.node-7 {
  transform: translate(10rem, -15rem); 
}
.node-8 {
  transform: translateY(-35rem); 
}



/*------------ ANIMATION ----------- */

.selected { 
  border: 1px solid red;
}


